*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# I want to have the jar package in git for the RoboRumble competition
#*.jar 
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/build/built-jar.properties

/dist/lib
/dist/MyRobots.jar
